<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.techblog.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.techblog.servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.techblog.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.techblog.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>com.techblog.servlets.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>com.techblog.servlets.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>com.techblog.servlets.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet2</servlet-name>
        <servlet-class>com.techblog.servlets.LikeServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchLikeStatusServlet</servlet-name>
        <servlet-class>com.techblog.servlets.FetchLikeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetList</servlet-name>
        <servlet-class>com.techblog.servlets.GetList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikedUsersList</servlet-name>
        <servlet-class>com.techblog.servlets.LikedUsersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowLikesServlet</servlet-name>
        <servlet-class>com.techblog.servlets.ShowLikesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationWebSocketServerServlet</servlet-name>
        <servlet-class>com.techblog.servlets.NotificationWebSocketServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebsocketServlet</servlet-name>
        <servlet-class>com.websocket.WebsocketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/DeletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet2</servlet-name>
        <url-pattern>/LikeServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchLikeStatusServlet</servlet-name>
        <url-pattern>/FetchLikeStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetList</servlet-name>
        <url-pattern>/GetList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikedUsersList</servlet-name>
        <url-pattern>/LikedUsersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowLikesServlet</servlet-name>
        <url-pattern>/ShowLikesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationWebSocketServerServlet</servlet-name>
        <url-pattern>/NotificationWebSocketServerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebsocketServlet</servlet-name>
        <url-pattern>/WebsocketServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
